<%= link_to todo_list, class: 'text-decoration' do %>
  <%= render(ProgressBadgeComponent.new(status: status)) %>
  <span class='text-secondary'>
    <small>
      <%= completion_stats %>
    </small>
  </span>
  <p class='text-secondary'><%= description %></p>
<% end %>
