<div class="form">
  <%= f.text_field :description, placeholder: 'Nome da tarefa' class:"task_name_field" %>
  <%= f.hidden_field :_destroy, class: "remove" %>
  <a href="" class="delete_task_btn" type="button" >Deletar</a>
</div>
