<div class="container_locate">
  <h1 class='locate_list_title'>Locate Lists</h1>
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">User</th>
        <th scope="col">Favorites</th>
      </tr>
    </thead>
    <tbody>
      <% @todo_lists.each do |todo_list|  %>
          <tr>
              <td><%= link_to todo_list.name, todo_list_path(todo_list) %></td>
              <td><%= todo_list.user.name %></td>
              <td>
                <% if @favorites_ids.include?(todo_list.id) %>
                  <h3>Sim</h3>
                <% else %>
                  <h3>Não</h3>
                <% end %>
              </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>