<header class="index-nav">
    <nav>
      <%= link_to root_path, class: 'logo' do %>
        <h1>Logo</h1>
      <% end %>
      <ul>
        <li class="nav_item">
          <%= link_to 'Listas',todo_lists_path, method: :get  %>
        </li>
        <li class="nav_item">
          <%= link_to 'Favoritos', favorites_path, method: :get %>
        </li>
        <li class="nav_item">
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </nav>
</header>