// LIST INDEX PAGE BADGES
.index-card-item {
  .badge {
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    font-family: IBM Plex Sans;
    font-weight: 700;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .badge-complete {
    background-color: #29CC97;
  }

  .badge-in-progress {
    background-color: #FEC400;
  }

  .badge-not-started {
    background-color: #393b3f;
  }
}

// LIST SHOW PAGE BADGES
.show-title {
  .badge {
    font-size: 14px;
    color: #fff;
    font-family: IBM Plex Sans;
    border-radius: 4px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .badge-complete {
    background-color: #29CC97;
  }

  .badge-in-progress {
    background-color: #FEC400;
  }

  .badge-not-started {
    background-color: #393b3f;
  }
}

// FAVORITE PAGE BADGES
.favorite-card-item {
  .badge {
    font-size: 14px;
    color: #fff;
    font-family: IBM Plex Sans;
    border-radius: 4px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .badge-complete {
    background-color: #29CC97;
  }

  .badge-in-progress {
    background-color: #FEC400;
  }

  .badge-not-started {
    background-color: #393b3f;
  }
}