// LIST INDEX PAGE BADGES
.index-card-item .badge {
  font-size: 14px;
  border-radius: 39px;
  color: #fff;
  font-family: IBM Plex Sans;
  font-weight: 700;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Badge Colors
.index-card-item .badge-complete {
  background-color: #36B368;
}

.index-card-item .badge-in-progress {
  background-color: #513CCC;
}

.index-card-item .badge-not-started {
  background-color: #393B3F;
}

// LIST SHOW PAGE BADGES
.show-header h1 .badge {
  font-size: 14px;
  border-radius: 39px;
  color: #fff;
  font-family: IBM Plex Sans;
  font-weight: 700;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-header h1 .badge-complete {
  background-color: #36B368;
}

.show-header h1 .badge-in-progress {
  background-color: #513CCC;
}

.show-header h1 .badge-not-started {
  background-color: #393B3F;
}

// FAVORITE PAGE BADGES
.favorite-card-item .badge {
  font-size: 14px;
  border-radius: 39px;
  color: #fff;
  font-family: IBM Plex Sans;
  font-weight: 700;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Badge Colors
.favorite-card-item .badge-complete {
  background-color: #36B368;
}

.favorite-card-item .badge-in-progress {
  background-color: #513CCC;
}

.favorite-card-item .badge-not-started {
  background-color: #393B3F;
}