// INDEX TODO LIST BUTTONS
.new_list .new_list_btn {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  background: linear-gradient(to right, #0053f0, #8e2de2);

  padding: 10px 30px;
  margin-right: 5px;
  display: flex;
  border-radius: 5px;
  svg {
    fill: #fff;
    margin-right: 5px;
  }
}

// END OF INDEX TODO LIST BUTTONS
