// SHOW PAGE BUTTONS - TODO_LIST
.show_edit_btn {
  grid-area: edit;
  align-self: center;
  justify-self: flex-end;
  width: 124px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6e41e2;
  border-radius: 4px;
  color: #fff;
  font-family: IBM Plex Sans;
  font-weight: 700;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.show_back_btn {
  font-size: 20px;
  margin-right: 20px;
}

.btn_check_complete {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_check_complete i {
  color: #f4b740;
}

// This is for undone tasks
.btn_check_undo {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_check_undo i {
  color: #0bf4b5;
  padding: 6px;
}

// INDEX PAGE BUTTONS
.new_task_btn {
  background: #6200ee;
  width: 113px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  font-family: IBM Plex Sans;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
}
