.show_task_container {
  display: flex;
  align-items: center;
  margin: 4px 400px;
  background: #ffffff;
  padding: 20px 16px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.01),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 4.73446px;
}

.show_task_container .show_task_item {
  flex-grow: 1;
  padding: 0 24px;
}

.show_task_item h3 span {
  text-decoration: line-through;
  color: #5f2eea;
  opacity: 50%;
}

.show_task_container p {
  margin: 0;
  line-height: 1.4;
}

.show_task_container h3 {
  color: #6e41e2;
  font-family: IBM Plex Sans;
  font-weight: 700;
}

// INDEX PAGE CARDS
.index_title_card_intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index_title_card_intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index_title_card_intro span {
  margin-left: 20px;
}

.index_card_item {
  background: #fff;
  padding: 20px;
  // border: 2px solid #dddddd;
  // border-radius: 4px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 4.73446px;
}

.index_card_item h1 {
  color: #4b4852;
}

// CARD ITEM GRID
.index_card_item {
  height: 240px;
  background: #fff;
  display: grid;
  grid-template-rows: 40px auto 30px;
  grid-template-columns: auto 140px;
  grid-template-areas:
    'title badge'
    'none none'
    'task delete';
}

.index_card_item h1 {
  grid-area: title;
  font-family: IBM Plex Sans;
  font-weight: 700;
}

.index_card_item span {
  grid-area: badge;
}

.index_card_item p {
  font-family: IBM Plex Sans;
  color: #4b4852;
  font-weight: 700;
}

.index_card_container {
  height: 240px;
}
