// GRID DEFINITION
.favorite-container {
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    'header'
    'main';
  height: 100vh;
}
// END OF GRID DEFINITION

// HEADER SECTION
.header-favorite {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-area: header;
  align-self: center;
  align-items: center;
  padding: 0 50px;
}

.header-favorite h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2rem;
}

// MAIN SECTION GRID
.favorite-main {
  grid-area: main;
  height: 100vh;
  display: grid;
  margin: 30px 20px;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(609px, 609px));
  grid-auto-rows: 240px;
  grid-auto-flow: dense;
  max-width: 100vw;
}
// END OF MAIN SECTION GRID

// MAIN SECTION CARDS
.favorite-card-item {
  background: #fff;
  padding: 20px;
  border: 2px solid #DDDDDD;
  border-radius: 4.73446px;
}

.text-personal, .text-public {
  font-family: Poppins;
  color: #000000;
  width: max-content;
  height: max-content;
}

.favorite-card-item h1 a {
  color: #4b4852;
}

.favorite-card-item {
  height: 240px;
  background: #fff;
  display: grid;
  grid-template-rows: 40px auto 40px;
  grid-template-columns: auto auto 140px;
  grid-template-areas:
    'title task task'
    'none none none'
    'badge delete delete';
}

.favorite-card-item .favorite-completed-tasks {
  grid-area: task;
  align-self: center;
  justify-self: end;
}

.favorite-card-item h1 {
  grid-area: title;
  font-family: IBM Plex Sans;
  font-weight: 700;
  max-width: max-content;
  display: flex;
  place-items: center;
}

.favorite-card-item h1 i {
  color: gold;
  font-size: 20px;
  margin-left: 5px;
}

.favorite-card-item span {
  grid-area: badge;
}

.favorite-card-item p {
  font-family: IBM Plex Sans;
  color: #4b4852;
  font-weight: 700;
}

.favorite-card-container {
  height: 240px;
}
// END OF MAIN CARDS
