.new-container {
  display: grid;
  grid-template-rows: 150px 100px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    'new_header new_header new_header'
    'new_form new_form new_form';
  height: 100vh;
  grid-area: main;
  .header_new {
    grid-area: new_header;
    display: grid;
    grid-template-columns: 1fr auto;
    align-self: center;
    padding: 20px 0;
    grid-column: 2;
    align-items: center;
    h1 {
      max-width: max-content;
      font-family: Poppins;
    }
  }
  .new_form {
    grid-area: new_form;
    grid-column: 2;
    .form .new_todo_list {
      width: inherit;
    }
  }
}