.header_new {
  grid-area: header;
  padding: 20px 200px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-self: center;
  h1 {
    max-width: max-content;
    font-family: IBM Plex Sans;
    color: #4b4852;
  }
  form {
    align-self: center;
    width: 200px;
    font-family: IBM Plex Sans;
    font-weight: 700;
    align-items: center;
  }
}

.new_form {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  form {
    // padding: 0 200px;
    grid-column: 2 / 3;
    width: 100%;
    #todo_list_title {
      width: 90%;
    }
  }
}
