form.new_task {
  margin: 0 400px 15px 400px;
  border-radius: 5px;
}

form.new_task input[type='text'] {
  width: 90%;
  outline: none;
  background: #FFFFFF;
  border: 1px solid #D5D8DF;
  height: 43px;
  padding: 10px;
  border-radius: 4px;
  font-family: IBM Plex Sans;
}

form.new_task input[type='submit'] {
  background: #513CCC;
  width: 105px;
  height: 42px;
  border: none;
  color: #fff;
  font-family: IBM Plex Sans;
  font-weight: 700;
  border-radius: 4px;
}
