.show-header {
  grid-area: header;
  align-self: center;
  padding: 0 200px;
  .show-title {
    display: flex;
    justify-content: space-between;
    .show-title-wrapper {
      display: flex;
      align-items: center;
      h1 {
        font-family: Montserrat;
        font-weight: 700;
      }
      .make-private-or-public-section {
        max-width: max-content;
        form {
          max-width: max-content;
          .make_personal_btn {
            background: transparent;
            border: none;
            margin-left: 10px;
            svg {
              fill: #3751ff;
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      svg {
        margin-right: 10px;
        fill: #3751ff;
      }
    }
  }
}

.show_task_section {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 30px 80px 1fr;
  margin: 0 200px;
  grid-template-areas:
    'new_task new_task new_task'
    'progress_bar progress_bar progress_bar'
    'tasks tasks tasks';
  #progress-bar {
    grid-area: progress_bar;
    background: #ebeff2;
    border-radius: 4px;
    height: 8px;
    align-self: center;
    div {
      background: #3751ff;
      height: 8px;
      transition: 0.5s ease;
      border-radius: 4px;
    }
  }
  .show-tasks {
    grid-area: tasks;
    .task_container {
      background: #fff;
      height: 58px;
      border: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      align-items: center;
      .task_title_wrapper {
        display: flex;
        align-items: center;
        h3 {
          margin-left: 20px;
          font-family: IBM Plex Sans;
          font-weight: 500;
        }
        .btn_check_complete {
          svg {
            fill: #a0a1a3;
          }
        }

        .btn_check_undo {
          svg {
            fill: #3751ff;
          }
        }
      }

      .task_title_wrapper_done {
        display: flex;
        align-items: center;
        h3 {
          color: #616161;
          text-decoration: line-through;
          margin-left: 20px;
          font-family: IBM Plex Sans;
          font-weight: 500;
        }
        .btn_check_complete {
          svg {
            fill: #a0a1a3;
          }
        }

        .btn_check_undo {
          svg {
            fill: #3751ff;
          }
        }
      }
    }
  }

  // FORM
  #new_task {
    grid-area: new_task;
    display: flex;
    align-items: center;
    #task_description {
      width: 98%;
      outline: none;
      border-radius: 0;
      height: 35px;
      border: 1px solid #ddd;
      padding: 0 20px;
    }
  }
  .add_task_btn {
    background: transparent;
    border: none;
    margin-left: 10px;
    svg {
      fill: #3751ff;
    }
  }
}
