// HEADER
.show-header {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 20px 400px;
  align-items: center;
}

.show_title_wrapper {
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: repeat(2, 50px);
  grid-template-areas:
    'title edit'
    'task task';
  padding: 0 4px;
}

.show_title_wrapper h1 {
  grid-area: title;
  font-family: IBM Plex Sans;
  font-weight: 700;
  color: #4b4852;
  display: flex;
  align-items: center;
}

.show_title_wrapper span {
  margin-left: 20px;
}

.completed-tasks {
  grid-area: task;
  align-self: center;
  font-family: IBM Plex Sans;
  font-weight: 700;
}

// PROGRESS BAR SECTION
#progress-bar {
  background-color: #F2F3F5;
  margin: 20px 400px;
  border-radius: 100px;
  border: 1px solid #DDDDDD;
}

#progress-bar > div {
  background-color: #8c65f6;
  height: 20px;
  transition: 0.5s ease;
  border-radius: 100px;
}
