// GRID DEFINITION
.show-container {
  display: grid;
  grid-template-rows: 100px 30px 100px 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    'header header header'
    'progress_bar progress_bar progress_bar'
    'new_task_form new_task_form new_task_form'
    'tasks tasks tasks';
  height: 100vh;
}
// END OF GRID DEFINITION

// HEADER SECTION
.show-header {
  grid-area: header;
  align-items: center;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column: 2;
}

.show-header h1 {
  font-family: Poppins;
  font-weight: 700;
  color: #4b4852;
  display: flex;
  max-width: max-content;
}

.show_back_btn {
  color: #4b4852;
  align-self: center;
}

.btn-edit-list {
  padding: 15px 30px;
  color: #fff;
  font-family: Poppins;
  background-color: #0000ff;
}
// END OF HEADER SECTION

// FORM SECTION
.new_task {
  grid-area: new_task_form;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  width: 100%;
  position: sticky;
}

.new_task > input[type="text"] {
  width: 90%;
}

// END OF FORM SECTION

// PROGRESS BAR SECTION
#progress-bar {
  grid-area: progress_bar;
  background: #f7f6ff;
  border-radius: 10px;
  height: max-content;
  align-self: center;
  grid-column: 2;
}

#progress-bar > div {
  background: linear-gradient(360deg, #5974f5 -109.73%, #4745fa 100%);
  box-shadow: 11px 2px 36px rgba(0, 0, 0, 0.195652);
  height: 20px;
  transition: 0.5s ease;
  border-radius: 10px;
}
// END OF PROGRESS BAR SECTION

// TASKS SECTION
.show-tasks {
  grid-area: tasks;
}

// END OF TASKS SECTION
