// GRID DEFINITION
.index-container {
  display: grid;
  grid-template-rows: 101px 1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    'aside new_list'
    'aside main';
  height: 100vh;
}
// END OF GRID DEFINITION

// ASIDE SECTION
.aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'logo'
    'nav';
  border-right: 1px solid #dddddd;
  background: #ffffff;
}

.aside .logo {
  align-self: center;
  justify-self: center;
  font-family: IBM Plex Sans;
  font-weight: 700;
  color: #0000ff;
}

.aside .aside_nav {
  border-top: 1px solid #dddddd;
}

.aside .aside_nav ul {
  padding: 0;
  // border-top: 1px solid #dddddd;
}

.aside .aside_nav ul li {
  padding: 20px 20px 20px 40px;
  border-right: 2px solid transparent;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}

.aside .aside_nav ul li.active a {
  background: #0000ff;
}

.aside .aside_nav ul li svg {
  margin-right: 10px;
}

.aside .aside_nav ul li:hover {
  border-right: 2px solid blue;
}

.aside .aside_nav ul li a {
  color: #4b4852;
  font-family: IBM PLex Sans;
  font-weight: 700;
}
// END OF ASIDE SECTION

// NEW LIST SECTION
.new_list {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-area: new_list;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  padding: 0 20px;
}

.new_list h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 2rem;
}

.new_list .new_list_btn {
  font-family: Poppins;
  font-weight: 600;
  color: #ffffff;
  background: #0000ff;
  padding: 10px 30px;
  margin-right: 5px;
}
// END OF NEW LIST SECTION

// MAIN SECTION
.index-main {
  grid-area: main;
  height: 100vh;
  display: grid;
  margin: 20px 20px;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  grid-auto-rows: 240px;
  grid-auto-flow: dense;
}

// END OF MAIN SECTION

// MAIN SECTION CARDS
.index-card-item {
  background: #fff;
  padding: 20px;
  border: 2px solid #dddddd;
  border-radius: 4.73446px;
}

.text-personal,
.text-public {
  font-family: Poppins;
  color: #000000;
  width: max-content;
  height: max-content;
}

.index-card-item h1 a {
  color: #4b4852;
}

.index-card-item h1 i {
  color: red;
  font-size: 20px;
  margin-left: 5px;
}

.index-card-item h1 {
  grid-area: title;
  font-family: IBM Plex Sans;
  font-weight: 700;
  max-width: max-content;
  display: flex;
  align-items: center;
}

.index-card-item {
  height: 240px;
  background: #fff;
  display: grid;
  grid-template-rows: 40px auto 40px;
  grid-template-columns: auto auto 140px;
  grid-template-areas:
    'title task task'
    'none none none'
    'badge delete delete';
}

.index-card-item .completed-tasks {
  grid-area: task;
  align-self: center;
  justify-self: end;
}

.index-card-item span {
  grid-area: badge;
}

.index-card-item p {
  font-family: IBM Plex Sans;
  color: #4b4852;
  font-weight: 700;
}

.index-card-container {
  height: 240px;
}
// END OF MAIN CARDS
