.index-main {
  grid-area: main;
  display: grid;
  gap: 1rem;
  margin: 20px 20px;
  grid-auto-rows: 240px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  .index-card-item {
    height: 240px;
    padding: 15px;
    background: #fff;
    border: 2px solid #dfe0eb;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
      'title'
      'desc'
      'bottom';
    .title-section {
      grid-area: title;
      display: flex;
      justify-content: space-between;
      align-self: center;
      .title-wrapper {
        .text-personal,
        .text-public {
          font-family: Montserrat;
        }
        h1 a {
          font-family: IBM Plex Sans;
          font-weight: 700;
          color: #252733;
        }
      }
    }
    .card-bottom {
      grid-area: bottom;
      display: flex;
      justify-content: space-between;
      align-self: center;
      .completed-tasks {
        font-family: IBM Plex Sans;
        font-weight: 700;
      }
      .index_delete_btn {
        i {
          color: #252733;
          font-size: 1.2rem;
        }
      }
    }
  }
}
