@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'components/index';

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=IBM+Plex+Sans:wght@500;600;700&display=swap');

:root {
  background: #F8F8F8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
